@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@import "tw-animate-css";
@import './lib/styles/theme.css';
@import './lib/styles/buttons.css';
@import './lib/styles/tooltip.css';
@import './lib/styles/nav.css';
@import './lib/styles/table.css';
@plugin "@tailwindcss/typography";
@plugin '@iconify/tailwind4' {
  prefixes: lucide, mdi, material-symbols, material-symbols-light, logos;
}

:root {
  transition-behavior: allow-discrete;
}


@utility bg-container {
  @apply fixed inset-0 bottom-0 left-0 z-0 flex h-full w-full;
  background-image: radial-gradient(
      circle at 20% 80%,
      rgba(255, 182, 153, 0.2) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 80% 20%,
      rgba(255, 244, 214, 0.25) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 40% 40%,
      rgba(255, 182, 153, 0.05) 0%,
      transparent 50%
    );

  @variant dark {
    background-image: radial-gradient(
      circle at center,
      rgba(70, 130, 180, 0.4),
      transparent 70%
    );
    filter: blur(80px);
    background-repeat: no-repeat;
  }
}

@utility focused {
  &:focus-visible {
    @apply outline-ahhs-blue-900 dark:outline-ahhs-blue-100 outline-2 outline-offset-0 outline-solid;
  }
}



@utility text-alt {
  @apply text-neutral-500 dark:text-neutral-300;
}

@utility card {
  @apply bg-surface-light-01 dark:bg-surface-dark-02 border-ahhs-red-200/20 dark:border-ahhs-red-200/30 rounded-2xl border shadow-md shadow-neutral-800/20 dark:shadow-black;
}


@utility link {
  @apply text-ahhs-blue-200 dark:text-ahhs-blue-25 underline;
}

@utility text-ahhs-red {
  @apply text-ahhs-red-500 dark:text-ahhs-red-200;
}

@utility faq-icon {
  @layer utilities.components.base {
    display: inline-block;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='M4.842 13.657V7.691A1.49 1.49 0 0 1 6.334 6.2h1.491m-2.983 4.474h2.237m3.13 2.983V7.691a1.492 1.492 0 1 1 2.983 0v5.966m-2.983-2.983h2.983m5.966 1.491a1.492 1.492 0 1 1-2.983 0V7.691a1.492 1.492 0 1 1 2.983 0zm-1.492 1.492l1.492 1.491'/%3E%3Cpath d='M22.2 2.571H1.8A1.054 1.054 0 0 0 .75 3.625v13.588a1.054 1.054 0 0 0 1.05 1.054h2.443a7.8 7.8 0 0 1-1.386 3.16c3.05.044 4.98-1.136 6.138-3.16H22.2a1.054 1.054 0 0 0 1.054-1.054V3.625A1.054 1.054 0 0 0 22.2 2.571'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    @apply size-5 md:size-7;
  }
}

@utility page-header {
  @apply flex flex-col gap-3 md:gap-6 flex-auto bg-ahhs-red-400 text-white;
  background-image: url("/pet_pattern.svg");

  & .content {
    @apply flex flex-col basis-full gap-3 px-4 py-4 md:px-12 md:py-12 justify-start;

    & h2 {
      @apply text-4xl font-bold text-pretty;
    }

    & p {
      @apply text-xl font-medium text-pretty;
    }
  }
}

.header {
  @apply bg-ahhs-red-400 text-white;
  background-image: url("/pet_pattern.svg");
}

@utility list-paw {
  & li::marker {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M8.35 3c1.18-.17 2.43 1.12 2.79 2.9c.36 1.77-.29 3.35-1.47 3.53c-1.17.18-2.43-1.11-2.8-2.89c-.37-1.77.3-3.35 1.48-3.54m7.15 0c1.19.19 1.85 1.77 1.5 3.54c-.38 1.78-1.63 3.07-2.81 2.89c-1.19-.18-1.84-1.76-1.47-3.53c.36-1.78 1.61-3.07 2.78-2.9M3 7.6c1.14-.49 2.69.4 3.5 1.95c.76 1.58.5 3.24-.63 3.73s-2.67-.39-3.46-1.96S1.9 8.08 3 7.6m18 0c1.1.48 1.38 2.15.59 3.72s-2.33 2.45-3.46 1.96s-1.39-2.15-.63-3.73C18.31 8 19.86 7.11 21 7.6m-1.67 10.78c.04.94-.68 1.98-1.54 2.37c-1.79.82-3.91-.88-5.9-.88s-4.13 1.77-5.89.88c-1-.49-1.69-1.79-1.56-2.87c.18-1.49 1.97-2.29 3.03-3.38c1.41-1.41 2.41-4.06 4.42-4.06c2 0 3.06 2.61 4.41 4.06c1.11 1.22 2.96 2.25 3.03 3.88'/%3E%3C/svg%3E");
    font-size: 24px;
    @apply text-ahhs-red-400 dark:text-ahhs-red-300;
  }
}




